<footer>
     <div class="footer-text">
    <p>copywrite @ 2025</p>
    <div class="social-link">
        <a href="">Linkden</a>
        <a href="">twitter</a>
    </div>
    </div>
    <img src="/assets/tree-removebg-preview.png" alt="">
   
</footer>
</body>
</html>