<footer>
    <div class="footer-text">
        <p>© 2025 Riya's Book Notes. All rights reserved.</p>
        <p>Book cover images and Info from Open Library. Last updated: Oct 2025</p>
        <p>All opinions expressed are personal and do not reflect those of authors or publishers.</p>
        <div class="social-link">
            <a href="https://www.linkedin.com/in/riya-singh-b938682b6/" target="_blank">Linkedin</a>
            <a href="https://x.com/riyastwt" target="_blank">twitter</a>
        </div>
    </div>
    <img src="/assets/tree-removebg-preview.png" alt="">
   
</footer>
</body>
</html>